ErrorDocument 403 /404.html

# Routing using htaccess file
RewriteEngine on
RewriteBase /


# Initialize database page routing
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^init$ /db/initializedatabase.php [L]


# redirect all root requests to the frontendviews index page
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^\/?$ /frontendviews/index.php [L]

# rewrite all /register requests to frontendviews register page
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^register\/?$ /frontendviews/register.php [L]
# register page countroller routing
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^register\/c\/?$ /controllers/register.php [L]

# Terms of Service page routing
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^.*?tos\/?$ /frontendviews/terms_of_service.php [L]
